# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environnements virtuels
.venv/
venv/
env/
ENV/

# Variables secrètes (REGIDESO, SNEL clés)
.env
.env.local

# Flask / Logs
instance/
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
tempCodeRunnerFile.py

# Audio généré (trop lourd pour GitHub)
static/audio/*.mp3